Repository GoldenSheepAI/-CodeMonkey-, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Nano-Collective/maintainers, @Nano-Collective/core-team, @Nano-Collective/integrations-team, @Nano-Collective/cli-team, @Nano-Collective/qa-team, @Nano-Collective/docs-team, @Nano-Collective/devops-team

docs: add workflow modes implementation summary
  docs/WORKFLOW_MODES_IMPLEMENTATION.md
Owners: @Nano-Collective/docs-team

fix: show input prompt even when no LLM provider configured
  README.md
  package.json
  source/app.tsx
  source/types/modes.ts
Owners: @Nano-Collective/maintainers, @Nano-Collective/devops-team, @Nano-Collective/core-team

feat: add interactive mode selector with arrow key navigation
  source/app.tsx
  source/app/hooks/useAppState.tsx
  source/app/hooks/useModeHandlers.tsx
  source/app/utils/appUtils.ts
  source/components/mode-selector.tsx
  source/types/app.ts
Owners: @Nano-Collective/core-team

fix: v1.14.0 production-ready launch - all critical bugs fixed
  package.json
  source/app.tsx
  source/app/hooks/useAppInitialization.tsx
  source/client-factory.ts
  source/commands/export.tsx
  source/commands/restart.tsx
  source/components/budget-mode-toggle.tsx
  source/components/model-selector.tsx
  source/components/provider-selector.tsx
  source/utils/toknxr-manager.ts
  toknxr.config.json
  toknxr.policy.json
Owners: @Nano-Collective/devops-team, @Nano-Collective/core-team, @Nano-Collective/cli-team, @Nano-Collective/maintainers

chore(lint): whitelist 'js' in cspell and fix MD041 heading in DRY command doc
  .cspell.json
  .nanocoder/commands/refactor/dry.md
Owners: @Nano-Collective/maintainers

Fix update detection system
  package.json
  source/components/update-message.tsx
  source/utils/update-checker.ts
Owners: @Nano-Collective/devops-team, @Nano-Collective/core-team

chore: release v1.14.1
  .env.example
  CHANGELOG.md
  package.json
  scripts/test-modes.ts
  source/app/hooks/useAppInitialization.tsx
  source/client-factory.ts
  source/commands/budget.tsx
  source/commands/index.ts
  source/commands/keys.ts
  source/commands/setup.tsx
  source/components/budget-mode-toggle.tsx
  source/components/provider-selector.tsx
  source/components/provider-switcher.tsx
  source/components/status.tsx
  source/config/index.ts
  source/integrations/toknxr/analytics.ts
  source/integrations/toknxr/cost-calculator.ts
  source/integrations/toknxr/index.ts
  source/integrations/toknxr/token-counter.ts
  source/integrations/toknxr/types.ts
  source/integrations/toknxr/usage-db.ts
  source/types/config.ts
  source/utils/secure-key-storage.ts
  source/utils/toknxr-manager.ts
  toknxr.config.json
Owners: @Nano-Collective/maintainers, @Nano-Collective/devops-team, @Nano-Collective/core-team, @Nano-Collective/cli-team, @Nano-Collective/integrations-team

feat: enhance progress & response system in UI and config
  ENHANCEMENTS_COMPLETE.md
  RESTORATION_COMPLETE.md
  UI_MODERNIZATION_COMPLETE.md
  agents.config.example.json
  pnpm-lock.yaml
  source/app.tsx
  source/app/hooks/useAppInitialization.tsx
  source/commands/feedback.tsx
  source/commands/index.ts
  source/components/assistant-message.tsx
  source/components/bash-execution-indicator.tsx
  source/components/feedback-display.tsx
  source/components/provider-switcher.tsx
  source/components/status.tsx
  source/components/thinking-indicator.tsx
  source/components/tool-execution-indicator.tsx
  source/components/user-input.tsx
  source/components/welcome-message.tsx
  source/config/index.ts
  source/config/preferences.ts
  source/config/themes.ts
  source/utils/feedback-logger.ts
Owners: @Nano-Collective/maintainers, @Nano-Collective/core-team, @Nano-Collective/cli-team

🎯 MVP Ready: Fix LLM padding + Add enterprise-grade token/context tracking
  CONTRIBUTING.md
  FINAL_ENHANCEMENTS_COMPLETE.md
  agents.config.example.json
  source/app/hooks/useAppInitialization.tsx
  source/commands/index.ts
  source/commands/tokens.tsx
  source/components/assistant-message.tsx
  source/components/rate-limit-monitor.tsx
  source/components/status.tsx
  source/components/token-display.tsx
  source/utils/context-tracker.ts
Owners: @Nano-Collective/maintainers, @Nano-Collective/core-team, @Nano-Collective/cli-team

Complete nanocoder to CodeMonkey rebranding
  .codemonkey/commands/refactor/dry.md
  .codemonkey/commands/refactor/solid.md
  .codemonkey/commands/review.md
  .codemonkey/commands/test.md
  .env.example
  .github/workflows/release.yml
  CONTRIBUTING.md
  ENHANCEMENTS_COMPLETE.md
  FINAL_ENHANCEMENTS_COMPLETE.md
  README.md
  RESTORATION_COMPLETE.md
  UI_MODERNIZATION_COMPLETE.md
  agents.config.example.json
  source/app/hooks/useAppInitialization.tsx
  source/commands/custom-commands.tsx
  source/commands/export.tsx
  source/commands/feedback.tsx
  source/commands/init.tsx
  source/commands/mcp.tsx
  source/commands/tokens.tsx
  source/components/assistant-message.tsx
  source/components/bash-execution-indicator.tsx
  source/components/custom-commands.tsx
  source/components/feedback-display.tsx
  source/components/rate-limit-monitor.tsx
  source/components/status.tsx
  source/components/thinking-indicator.tsx
  source/components/token-display.tsx
  source/components/tool-execution-indicator.tsx
  source/components/update-message.tsx
  source/custom-commands/loader.ts
  source/mcp/mcp-client.ts
  source/utils/context-tracker.ts
  source/utils/feedback-logger.ts
  source/utils/update-checker.ts
Owners: @Nano-Collective/maintainers, @Nano-Collective/devops-team, @Nano-Collective/core-team, @Nano-Collective/cli-team

Update to GoldenSheepAI organization and fix TTY input issues
  MIGRATION.md
  README.md
  package.json
  source/cli.tsx
  source/components/update-message.tsx
  source/utils/update-checker.ts
Owners: @Nano-Collective/maintainers, @Nano-Collective/devops-team, @Nano-Collective/core-team

docs: Rebrand project from Nanocoder to CodeMonkey
  package.json
Owners: @Nano-Collective/devops-team

feat: add terminal-safe progress indicators
  source/app.tsx
  source/components/thinking-indicator.tsx
  source/utils/terminal-detector.ts
Owners: @Nano-Collective/core-team

refactor(ui): Adjust component widths to fit terminal size
  source/app/hooks/useAppInitialization.tsx
  source/components/assistant-message.tsx
  source/components/error-message.tsx
  source/components/info-message.tsx
  source/components/status.tsx
  source/components/success-message.tsx
  source/components/thinking-indicator.tsx
  source/components/user-input.tsx
Owners: @Nano-Collective/core-team

feat(workflows): Add Gemini workflow files and update gitignore
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
  .gitignore
  CONTRIBUTING.md
Owners: @Nano-Collective/devops-team, @Nano-Collective/maintainers

cleanup: Remove temporary documentation files and organize releases
  .gitignore
  CRITICAL_FIXES_COMPLETE.md
  ENHANCEMENTS_COMPLETE.md
  FINAL_ENHANCEMENTS_COMPLETE.md
  PRODUCTION_READINESS_REPORT.md
  RESTORATION_COMPLETE.md
  REVISED_PRODUCTION_ASSESSMENT.md
  UI_MODERNIZATION_COMPLETE.md
Owners: @Nano-Collective/maintainers

feat: Add comprehensive beta testing package and distribution setup
  .gitignore
  HOW_TO_SHARE_BETA.md
Owners: @Nano-Collective/maintainers

.github/CODEOWNERS:

# Global code owners
* @Nano-Collective/maintainers

# Core application code
/source/ @Nano-Collective/core-team

# Integrations
/source/integrations/ @Nano-Collective/integrations-team

# CLI and commands
/source/commands/ @Nano-Collective/cli-team

# Tests
/tests/ @Nano-Collective/qa-team

# Documentation
/docs/ @Nano-Collective/docs-team

# CI/CD and workflows
/.github/ @Nano-Collective/devops-team

# Build and configuration
/package.json @Nano-Collective/devops-team
/tsconfig.json @Nano-Collective/devops-team
/tsup.config.ts @Nano-Collective/devops-team
/vitest.config.ts @Nano-Collective/devops-team
