Repository GoldenSheepAI/-CodeMonkey-, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Nano-Collective/maintainers, @Nano-Collective/core-team, @Nano-Collective/integrations-team, @Nano-Collective/cli-team, @Nano-Collective/qa-team, @Nano-Collective/docs-team, @Nano-Collective/devops-team

.github/CODEOWNERS:

# Global code owners
* @Nano-Collective/maintainers

# Core application code
/source/ @Nano-Collective/core-team

# Integrations
/source/integrations/ @Nano-Collective/integrations-team

# CLI and commands
/source/commands/ @Nano-Collective/cli-team

# Tests
/tests/ @Nano-Collective/qa-team

# Documentation
/docs/ @Nano-Collective/docs-team

# CI/CD and workflows
/.github/ @Nano-Collective/devops-team

# Build and configuration
/package.json @Nano-Collective/devops-team
/tsconfig.json @Nano-Collective/devops-team
/tsup.config.ts @Nano-Collective/devops-team
/vitest.config.ts @Nano-Collective/devops-team

feat: enhance setup script with comprehensive migration automation
  scripts/README.md
  scripts/setup.sh
Owners: @Nano-Collective/maintainers

feat(toknxr): implement production-ready token counter with tiktoken
  package.json
  source/integrations/toknxr/index.ts
  source/integrations/toknxr/token-counter.ts
  source/integrations/toknxr/types.ts
Owners: @Nano-Collective/devops-team, @Nano-Collective/integrations-team

docs: add comprehensive migration guide for CodeMonkey
  MIGRATION.md
Owners: @Nano-Collective/maintainers

fix(integrations): correct TypeScript imports and types
  source/integrations/noleakai/index.ts
  source/integrations/toknxr/analytics.ts
  source/integrations/toknxr/cost-calculator.ts
  source/integrations/toknxr/types.ts
  source/integrations/toknxr/usage-db.ts
Owners: @Nano-Collective/integrations-team

fix(integrations): resolve TypeScript compilation errors
  pnpm-lock.yaml
  source/integrations/toknxr/token-counter.ts
Owners: @Nano-Collective/maintainers, @Nano-Collective/integrations-team

feat: rebrand to CodeMonkey 🐒 and add interactive provider switcher
  agents.config.example.json
  package.json
  pnpm-lock.yaml
  source/commands/export.tsx
  source/commands/help.tsx
  source/commands/init.tsx
  source/commands/provider.ts
  source/commands/theme.ts
  source/commands/update.tsx
  source/components/provider-switcher.tsx
  source/components/security-disclaimer.tsx
  source/components/update-message.tsx
  source/components/welcome-message.tsx
  source/init/agents-template-generator.ts
  tsup.config.ts
Owners: @Nano-Collective/maintainers, @Nano-Collective/devops-team, @Nano-Collective/cli-team, @Nano-Collective/core-team

fix: support 'codemonkey' config key (backward compatible with 'nanocoder')
  source/config/index.ts
Owners: @Nano-Collective/core-team

feat(budget-mode): add Budget Mode with ToknXR integration (Phase 1)
  package.json
  pnpm-lock.yaml
  source/commands/budget.tsx
  source/commands/index.ts
  source/components/budget-mode-toggle.tsx
  source/types/config.ts
Owners: @Nano-Collective/devops-team, @Nano-Collective/maintainers, @Nano-Collective/cli-team, @Nano-Collective/core-team

docs: add Budget Mode documentation and testing guide
  BUDGET_MODE.md
Owners: @Nano-Collective/maintainers

fix: register budget command and remove exposed API key
  source/app/hooks/useAppInitialization.tsx
Owners: @Nano-Collective/core-team

feat: Secure Mode + input field border
  source/app/hooks/useAppInitialization.tsx
  source/commands/index.ts
  source/commands/secure.tsx
  source/components/secure-mode-toggle.tsx
  source/components/user-input.tsx
  source/types/config.ts
  source/utils/security-scanner.ts
  toknxr-feedback.json
Owners: @Nano-Collective/core-team, @Nano-Collective/cli-team, @Nano-Collective/maintainers

feat: auto-start ToknXR + remove external dashboard dependency
  source/components/budget-mode-toggle.tsx
  source/utils/toknxr-manager.ts
Owners: @Nano-Collective/core-team

feat: Phase 2 - proxy routing + security scanning
  source/app/hooks/useChatHandler.tsx
  source/client-factory.ts
  source/components/status.tsx
Owners: @Nano-Collective/core-team

feat: add automated testing suite for Budget and Secure modes
  demo.tape
  package.json
  scripts/TEST_MODES_README.md
  scripts/test-modes.ts
Owners: @Nano-Collective/maintainers, @Nano-Collective/devops-team

feat: testing suite complete - 100% pass
  package.json
  pnpm-lock.yaml
  scripts/test-modes.ts
Owners: @Nano-Collective/devops-team, @Nano-Collective/maintainers

docs: add VHS recording guide and demo tape
  VHS_RECORDING_GUIDE.md
  demo-codemonkey.tape
Owners: @Nano-Collective/maintainers

feat: auto-start ToknXR on CodeMonkey launch when Budget Mode enabled
  source/app/hooks/useAppInitialization.tsx
Owners: @Nano-Collective/core-team

feat: Ollama default + auto-detect + Hugging Face
  agents.config.example.json
  source/client-factory.ts
  source/types/config.ts
  source/utils/ollama-detector.ts
Owners: @Nano-Collective/maintainers, @Nano-Collective/core-team

feat: add /restart command for quick reload
  source/app/hooks/useAppInitialization.tsx
  source/commands/index.ts
  source/commands/restart.tsx
Owners: @Nano-Collective/core-team, @Nano-Collective/cli-team

feat: add auto-restart wrapper script
  start-with-restart.sh
Owners: @Nano-Collective/maintainers

feat: /restart now auto-restarts, /exit stops completely
  source/commands/restart.tsx
  start-with-restart.sh
Owners: @Nano-Collective/cli-team, @Nano-Collective/maintainers

feat: add /tips command with interactive best practices guide
  source/app/hooks/useAppInitialization.tsx
  source/commands/index.ts
  source/commands/tips.tsx
Owners: @Nano-Collective/core-team, @Nano-Collective/cli-team

fix: remove MCP server connection errors + add comprehensive guide
  MCP_SERVERS_GUIDE.md
  agents.config.example.json
Owners: @Nano-Collective/maintainers

docs: add 15 best MCP servers coming soon to CodeMonkey
  MCP_SERVERS_GUIDE.md
Owners: @Nano-Collective/maintainers

feat: add interactive MCP server manager with /mcp manage
  source/commands/mcp.tsx
  source/commands/tips.tsx
  source/components/mcp-manager.tsx
  source/config/index.ts
  source/types/commands.ts
Owners: @Nano-Collective/cli-team, @Nano-Collective/core-team

fix: resolve GitHub Actions release workflow errors
  .github/workflows/release.yml
Owners: @Nano-Collective/devops-team

fix: use official git-cliff action and add spell check dictionary
  .cspell.json
  .github/workflows/release.yml
Owners: @Nano-Collective/maintainers, @Nano-Collective/devops-team

docs: add comprehensive release setup guide
  RELEASE_SETUP.md
Owners: @Nano-Collective/maintainers

1.13.5
  package.json
Owners: @Nano-Collective/devops-team

fix: default to Local Ollama provider instead of OpenRouter
  agents.config.example.json
Owners: @Nano-Collective/maintainers

fix: /restart auto-restart now works correctly
  .cspell.json
  README.md
  start-with-restart.sh
Owners: @Nano-Collective/maintainers

feat: add branded npm scripts for starting CodeMonkey
  README.md
  package.json
Owners: @Nano-Collective/maintainers, @Nano-Collective/devops-team

feat: add como.sh launcher with auto-restart support
  README.md
  como.sh
Owners: @Nano-Collective/maintainers

debug: add logging to diagnose provider selection issue
  source/client-factory.ts
Owners: @Nano-Collective/core-team

fix: respect 'enabled' field in provider configuration
  source/client-factory.ts
Owners: @Nano-Collective/core-team

perf: remove debug logging and improve UX
  source/client-factory.ts
Owners: @Nano-Collective/core-team

docs: rebrand README from Nanocoder to CodeMonkey
  README.md
Owners: @Nano-Collective/maintainers

chore: update package to @goldensheepai/codemonkey for npm publish
  README.md
  package.json
Owners: @Nano-Collective/maintainers, @Nano-Collective/devops-team

fix: add remaining terms to spell check dictionary
  .cspell.json
Owners: @Nano-Collective/maintainers

feat: implement three-mode workflow system (Command/Codegen/Cosmo)
  demo-budget-mode.tape
  demo-code-generation.tape
  demo-custom-commands.gif
  demo-custom-commands.tape
  demo-mcp-integration.tape
  demo-multi-provider.tape
  demo-secure-mode.tape
  docs/WORKFLOW_MODES_SPEC.md
  hello_world.py
  secure_mode.txt
  source/app/hooks/useAppInitialization.tsx
  source/commands.ts
  source/commands/index.ts
  source/commands/mode-command.tsx
  source/modes/mode-config.ts
  source/modes/mode-manager.ts
  source/types/modes.d.ts
  user.js
Owners: @Nano-Collective/maintainers, @Nano-Collective/docs-team, @Nano-Collective/core-team, @Nano-Collective/cli-team
